section#why.section.why.section-bg-white
  .container
    h2.title.text-center.font-color How Can PinakLab Help You?
    p.intro.text-center
      | We take care of the UX and front-end design so you can save time building your site
    .row.item.div-bg-white
      .content.col-xs-12.col-md-4
        h3.title Save you time and effort
        .desc
          p
            | Explain one of your product benefits here. Let users know how they can benefit using your product. It’s also a good idea to back it up with a testimonial or tweet from your users.
          p
            | The original PSD of the graphic is included in the package. You can easily customise the PSD to meet your needs.
        .quote
          .quote-profile
            img.img-responsive.img-circle(src='../img/testimonials/testimonial-sample.png', alt='image from testimonial')
          // //profile
          .quote-content
            blockquote
              p
                a(href='https://www.facebook.com/pinaklab', target='_blank') @pinaklab
                |  Love it! Thank you for making my life easier and saving me time! I’ll definitely recommend it to my friends. :)
            p.source @LisaW, Bristol
          // //quote-content
        // //quote
      // //content
      figure.figure.col-md-offset-1.col-sm-offset-0.col-xs-offset-0.col-xs-12.col-md-7
        img.img-responsive(src='../img/info1.jpg', alt='graph image')
        figcaption.figure-caption Join us and stand out of the crowd.
    // //item
    .row.item
      .content.col-md-push-8.col-sm-push-0.col-xs-push-0.col-xs-12.col-md-4
        h3.title Works across all devices
        .desc
          p
            | Explain one of your product benefits here. Let users know how they can benefit using your product. It’s also a good idea to back it up with a testimonial or tweet from your users.
          p
            | The original PSD of the graphic is included in the package. You can easily customise the PSD to meet your needs.
          p
            i.fa.fa-download
            a(routerLink='/videos') Download mobile versions
        .quote
          .quote-profile
            img.img-responsive.img-circle(src='../img/testimonials/testimonial-sample.png', alt='image from testimonials')
          // //profile
          .quote-content
            blockquote
              p
                | I find the mobile app very useful when I'm on the go. Sed ut perspiciatis unde omnis iste natus error sit voluptatem
            p.source @JackT, San Francisco
          // //quote-content
        // //quote
      // //content
      figure.figure.col-md-pull-4.col-sm-pull-0.col-xs-pull-0.col-xs-12.col-md-7
        img.img-responsive(src='../img/figure-2.png', alt='image from img')
        .control.text-center
          button.play-trigger(type='button', data-toggle='modal', data-target='#modal-video', routerLink='/videos')
            i.fa.fa-play
        // //control
    // //item

    // //item
    .row.item.last-item
      .content.col-md-push-8.col-sm-push-0.col-xs-push-0.col-xs-12.col-md-4
        h3.title Connect your users
        .desc
          p
            | Explain one of your product benefits here. Let users know how they can benefit using your product. It’s also a good idea to back it up with a testimonial or tweet from your users.
          p
            | The original PSD of the graphic is included in the package. You can easily customise the PSD to meet your needs.
        .quote
          .quote-profile
            img.img-responsive.img-circle(src='../img/testimonials/testimonial-sample.png', alt='image from testimonials')
          // //profile
          .quote-content
            blockquote
              p
                | I can connect to like-minded people lorem ipsum dolor sit amet, consectetuer adipiscing elit.
            p.source @JackT, San Francisco
          // //quote-content
        // //quote
      // //content
      figure.figure.col-md-pull-4.col-sm-pull-0.col-xs-pull-0.col-xs-12.col-md-7
        img.img-responsive(src='../img/info2.jpg', alt='image from img')
        figcaption.figure-caption Join us and stand out of the crowd.
    // //item
    .feature-lead.text-center
      h4.title Want to discover all the Services?
      p
        a.btn.btn-cta.btn-cta-secondary(routerLink='/services') Take a Tour
  // //container
