.details-width{
    width: 70%;
    margin-left: 15%;
}
.blue-badge{
    background: #1D8F9A;
    color: #ffffff;
    height: 60px;
    vertical-align: middle;
}
.badge-margin{
    margin-top: 10px;
}
.blue-line-section {
    background: #1D8F9A;
    max-height: 3px !important;
    height: 3px !important;
    padding: 0 !important;
}
.pull-up{
    margin-top: -100px !important;
}