section.faraday-cover.text-center.expanded-cover
  .container
    .title-white-large Faraday Search Lab
    hr.invalidityhr
    h2.font-blue Electronics & Telecom

section.white-section.text-center
  .container.title-blue-large-thin.details-width
    h1.badge-margin Dedicated for only electronics and telecommunication patent searching
  p.para-style Under this lab we conduct patent search related to electronics and telecommunication 
               | where each of our patent analyst are well equipped with new generation/latest tools and 
               | technology aligned with right access to the databases to find the best results for you.

section.section-bg.section-faraday 

  .text-center.green-gradient
    .head-padding
      h1.head-style Representative Industries
    ul.ul-style
      li Electronics
      li Electrical
      li Semiconductor
      li Fiber Optics
      li Telecom Software
      li Security Surveillance
      li Touch Solutions
      li Networking

  .text-center.black-gradient.div-gap-1
    .head-padding
      h1.head-style Dedicated Expertise 
    p.para-style.para-padding We have 15+ dedicated patent analysts for Electronics & Telecom patent search services, Faraday Lab consists 60% of team strength.

  .text-center.green-gradient.div-gap-2
    .head-padding
      h1.head-style Tools & Technologies
    p.para-style.para-padding We use range of tools & technology specialized for Electronics & Telecom vertical.

  .text-center.black-gradient.div-gap-2   
    .head-padding
      h1.head-style Database Access
    p.para-style.para-padding.end-padding Cognizance IP have access to a broad spectrum of patent and non-patent databases to meet our clients' business objectives.

section.white-fat-bar
section.aristotle-cover.text-center
  .container
    .title-white-large Aristotle Search Lab
    h1.title.font-blue.title-margin Life Sciences
    hr.faradayhr
    p Biotechnology - Pharma - Bio Medical - Checimal - Food Technology - Medicine - Genetic Enigneering
    p.btn.btn-cta.btn-cta-primary(routerLink='/aristotle-lab') Learn More

section.white-fat-bar
section.james-cover.text-center
  .container
    .title-white-large James Watt Search Lab
    h1.title.font-blue.title-margin Mechanical & Others
    hr.faradayhr
    p Mechanical - Civil - Industrial - Material Science
    p.btn.btn-cta.btn-cta-primary(routerLink='/james-watt-lab') Learn More
section.white-fat-bar
