section.white-section.text-center 
  .container
    .title-blue-large-thin SERVICES
    h2.font-grey Solves Your Business Objectives
    hr.serviceshr
section.expertise-cover-1.text-center 
  .container
    .title-white-large Patentability Search
    p.btn.btn-cta.btn-cta-primary.about-text-margin(routerLink='/patentability-search') Learn More
section.white-bar    
section.expertise-cover-2.text-center 
  .container
    .title-white-large (In)validity Search
    p.btn.btn-cta.btn-cta-primary.about-text-margin(routerLink='/invalidity-search') Learn More
section.white-bar    
section.expertise-cover-3.text-center 
  .container
    .title-white-large Freedom-to-operate
    p.btn.btn-cta.btn-cta-primary.about-text-margin(routerLink='/freedom-to-operate') Learn More
section.white-bar    
section.expertise-cover-4.text-center 
  .container
    .title-white-large Patent Landscape
    p.btn.btn-cta.btn-cta-primary.about-text-margin(routerLink='/patent-landscape') Learn More
section.white-bar    
section.expertise-cover-5.text-center 
  .container
    .title-white-large Infringement Analysis
    p.btn.btn-cta.btn-cta-primary.about-text-margin(routerLink='/infringement-analysis') Learn More
section.white-bar    
section.expertise-cover-6.text-center 
  .container
    .title-white-large Evidence-of-use Analysis
    p.btn.btn-cta.btn-cta-primary.about-text-margin(routerLink='/evidence-of-use') Learn More
section.white-bar    
//- section.expertise-cover-1.text-center 
//-   .container
//-     .title-white-large Prior Art Search
//-     p.btn.btn-cta.btn-cta-primary.about-text-margin(routerLink='/prior-art-search') Learn More
//- section.white-bar    