section.white-section.text-center 
  .container
    .title-blue-large-thin.padd-top SERVICES
    h2.font-grey Solves Your Business Objectives
    hr.serviceshr
section.expertise-cover-1.text-center 
  .container
    .title-white-large Patentability Search
    a.btn.btn-cta.btn-cta-primary.about-text-margin(href='/patentability-search') Learn More
section.white-bar    
section.expertise-cover-2.text-center 
  .container
    .title-white-large (In)validity Search
    a.btn.btn-cta.btn-cta-primary.about-text-margin(href='/invalidity-search') Learn More
section.white-bar    
section.expertise-cover-3.text-center 
  .container
    .title-white-large Freedom-to-Operate
    a.btn.btn-cta.btn-cta-primary.about-text-margin(href='/freedom-to-operate') Learn More
section.white-bar    
section.expertise-cover-4.text-center 
  .container
    .title-white-large Patent Landscape
    a.btn.btn-cta.btn-cta-primary.about-text-margin(href='/patent-landscape') Learn More
section.white-bar    
section.expertise-cover-5.text-center 
  .container
    .title-white-large Infringement Analysis
    a.btn.btn-cta.btn-cta-primary.about-text-margin(href='/infringement-analysis') Learn More
section.white-bar    
section.expertise-cover-6.text-center 
  .container
    .title-white-large Evidence-of-Use Analysis
    a.btn.btn-cta.btn-cta-primary.about-text-margin(href='/evidence-of-use') Learn More
section.white-bar    
//- section.expertise-cover-1.text-center 
//-   .container
//-     .title-white-large Prior Art Search
//-     p.btn.btn-cta.btn-cta-primary.about-text-margin(routerLink='/prior-art-search') Learn More
//- section.white-bar    