.expertise-cover-1 {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('../../../public/img/expertise/1.png') no-repeat left top;
  background-size: cover;
}
.expertise-cover-2 {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('../../../public/img/expertise/2.png') no-repeat left top;
  background-size: cover;
}
.expertise-cover-3 {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('../../../public/img/expertise/3.png') no-repeat left top;
  background-size: cover;
}
.expertise-cover-4 {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('../../../public/img/expertise/4.png') no-repeat left top;
  background-size: cover;
}
.expertise-cover-5 {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('../../../public/img/expertise/5.png') no-repeat left top;
  background-size: cover;
}
.expertise-cover-6 {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('../../../public/img/expertise/6.png') no-repeat left top;
  background-size: cover;
}
.serviceshr{
  border-color: #757575;
  border-width: 2px;
  max-width: 540px;
}
.white-bar {
  background: #ffffff;
  max-height: 20px !important;
  height: 20px !important;
  padding: 0 !important;
}
.expanded-cover{
  padding-top: 200px !important;
  padding-bottom: 130px
}