section.expertise-cover-2.text-center.expanded-cover
  .container
    .title-white-large (In)Validity Search
    hr.invalidityhr
    h2.font-blue We see what others often miss.
section.white-bar 

section.section-bg.section-invalid
  .text-center.green-gradient
    .head-padding
      h1.head-style What It Is?
    p.para-style.para-padding Thorough analysis of all references (Patent & Non-Patent Literature) documents prior to the filing date. 

  .text-center.black-gradient.div-gap-2 
    .head-padding
      h1.head-style What We Do?
    p.para-style.para-padding We identify the relevant and even most obscure prior art to validate/invalidate the granted patent.

  .text-center.green-gradient.div-gap-2 
    .head-padding
      h1.head-style How We Do It?
    p.para-style.para-padding Coming Soon!

  .text-center.black-gradient.div-gap-2 
    .head-padding
      h1.head-style What We Need?
    p.para-style.para-padding Patent number, specific claims to invalidate, earliest priority date and any known related art.

  .text-center.green-gradient.div-gap-2 
    .head-padding
      h1.head-style What We Give You?
    p.para-style.para-padding Full validity/invalidity search report, a claims-mapping chart, electronics copy of any cited prior art.

  .text-center.black-gradient.div-gap-2 
    .head-padding
      h1.head-style How Our Report Helps You?
    p.para-style.para-padding Our in-depth search results and through analysis report give you an insight to validate/invalidate the granted patent of your interest.

section.white-bar
section.expertise-cover-1.text-center 
  .container
    .title-white-large Patentability Search
    p.btn.btn-cta.btn-cta-primary.about-text-margin(routerLink='/patentability-search') Learn More
section.white-bar    
section.expertise-cover-3.text-center 
  .container
    .title-white-large Freedom-to-operate
    p.btn.btn-cta.btn-cta-primary.about-text-margin(routerLink='/freedom-to-operate') Learn More
section.white-bar    
section.expertise-cover-4.text-center 
  .container
    .title-white-large Patent Landscape
    p.btn.btn-cta.btn-cta-primary.about-text-margin(routerLink='/patent-landscape') Learn More
section.white-bar    
section.expertise-cover-5.text-center 
  .container
    .title-white-large Infringement Analysis
    p.btn.btn-cta.btn-cta-primary.about-text-margin(routerLink='/infringement-analysis') Learn More
section.white-bar    
section.expertise-cover-6.text-center 
  .container
    .title-white-large Evidence-of-use Analysis
    p.btn.btn-cta.btn-cta-primary.about-text-margin(routerLink='/evidence-of-use') Learn More
section.white-bar      