section.cta-section.text-center
  .container
    .title-white-large (In)Validity Search
    hr.invalidityhr
    h2.font-blue See The White Space & Snapshot of Patent Situation
section.white-section.text-center
  .container.details-width.blue-badge
    h1.badge-margin What It Is?
  p.details-width.about-text-style.para-text-margin.para-font-size Thorough analysis of all references (Patent & Non-Patent Literature) documents prior to the filing date. 
section.white-section.text-center.pull-up.expertise-section-padding
  .container.details-width.blue-badge
    h1.badge-margin What We Do?
  p.details-width.about-text-style.para-text-margin.para-font-size We identify the relevant and even most obscure prior art to validate/invalidate the granted patent.
section.white-section.text-center.pull-up.expertise-section-padding
  .container.details-width.blue-badge
    h1.badge-margin How We Do It?
  p.details-width.about-text-style.para-text-margin.para-font-size Coming Soon!
section.white-section.text-center.pull-up.expertise-section-padding
  .container.details-width.blue-badge
    h1.badge-margin What We Need?
  p.details-width.about-text-style.para-text-margin.para-font-size Patent number, specific claims to invalidate, earliest priority date and any known related art.
section.white-section.text-center.pull-up.expertise-section-padding    
  .container.details-width.blue-badge
    h1.badge-margin What We Give You?
  p.details-width.about-text-style.para-text-margin.para-font-size Full validity/invalidity search report, a claims-mapping chart, electronics copy of any cited prior art.
section.white-section.text-center.pull-up.expertise-section-padding
  .container.details-width.blue-badge
    h1.badge-margin How Our Report Helps You?
  p.details-width.about-text-style.para-text-margin.para-font-size Our in-depth search results and through analysis report give you an insight to validate/invalidate the granted patent of your interest.
section.blue-line-section
section.white-section.text-center
  .container.details-width.blue-badge
    h1.badge-margin Contact Us for Invalidity Search Quote 