section.expertise-cover-6.text-center
  .container
    .title-white-large Evidence of Use
    hr.invalidityhr
    h2.font-blue See The White Space & Snapshot of Patent Situation
section.white-section.text-center
  .container.details-width.blue-badge
    h1.badge-margin What It Is?
  p.details-width.about-text-style.para-text-margin.para-font-size Identification of competitors or candidate that might be infringing your patents. Our EoU search report help your client find likely infringing product or services in the market universe. 
section.white-section.text-center.pull-up.expertise-section-padding
  .container.details-width.blue-badge
    h1.badge-margin What We Do?
  p.details-width.about-text-style.para-text-margin.para-font-size We examine and analyze thorough investigation of potentially infringers and give you a chart report that will help you to visualize the potential infringers of your client’s patents. 
section.white-section.text-center.pull-up.expertise-section-padding
  .container.details-width.blue-badge
    h1.badge-margin How We Do It?
  p.details-width.about-text-style.para-text-margin.para-font-size Coming Soon!
section.white-section.text-center.pull-up.expertise-section-padding
  .container.details-width.blue-badge
    h1.badge-margin What We Need?
  p.details-width.about-text-style.para-text-margin.para-font-size  List of patents and we do the rest.
section.white-section.text-center.pull-up.expertise-section-padding    
  .container.details-width.blue-badge
    h1.badge-margin What We Give You?
  p.details-width.about-text-style.para-text-margin.para-font-size A chart based mapping of your claims against the potential infringers.
section.white-section.text-center.pull-up.expertise-section-padding
  .container.details-width.blue-badge
    h1.badge-margin How Our Report Helps You?
  p.details-width.about-text-style.para-text-margin.para-font-size Our report helps you to identify the potential infringers of your client’s patent who might be interested in licensing client invention.
section.blue-line-section
section.white-section.text-center
  .container.details-width.blue-badge
    h1.badge-margin Contact Us for Evidence of Use Quote 