section.expertise-cover-6.text-center.expanded-cover
  .container
    .title-white-large Evidence of Use
    hr.invalidityhr
    h2.font-blue Identify who all infringing your invention.
section.white-bar 

section.section-bg.section-evidence
  .text-center.green-gradient
    .head-padding
      h1.head-style What It Is?
    p.para-style.para-padding Identification of competitors or candidate that might be infringing your patents. Our EoU search report help your client find likely infringing product or services in the market universe. 

  .text-center.black-gradient.div-gap-2 
    .head-padding
      h1.head-style What We Do?
    p.para-style.para-padding We examine and analyze thorough investigation of potentially infringers and give you a chart report that will help you to visualize the potential infringers of your client’s patents. 

  .text-center.green-gradient.div-gap-2 
    .head-padding
      h1.head-style How We Do It?
    p.para-style.para-padding Coming Soon!

  .text-center.black-gradient.div-gap-2 
    .head-padding
      h1.head-style What We Need?
    p.para-style.para-padding List of patents and we do the rest.

  .text-center.green-gradient.div-gap-2 
    .head-padding
      h1.head-style What We Give You?
    p.para-style.para-padding A chart based mapping of your claims against the potential infringers.

  .text-center.black-gradient.div-gap-2 
    .head-padding
      h1.head-style How Our Report Helps You?
    p.para-style.para-padding Our report helps you to identify the potential infringers of your client’s patent who might be interested in licensing client invention.

section.white-bar 
section.expertise-cover-1.text-center 
  .container
    .title-white-large Patentability Search
    a.btn.btn-cta.btn-cta-primary.about-text-margin(href='/patentability-search') Learn More
section.white-bar    
section.expertise-cover-2.text-center 
  .container
    .title-white-large (In)validity Search
    a.btn.btn-cta.btn-cta-primary.about-text-margin(href='/invalidity-search') Learn More
section.white-bar    
section.expertise-cover-3.text-center 
  .container
    .title-white-large Freedom-to-Operate
    a.btn.btn-cta.btn-cta-primary.about-text-margin(href='/freedom-to-operate') Learn More
section.white-bar    
section.expertise-cover-4.text-center 
  .container
    .title-white-large Patent Landscape
    a.btn.btn-cta.btn-cta-primary.about-text-margin(href='/patent-landscape') Learn More
section.white-bar    
section.expertise-cover-5.text-center 
  .container
    .title-white-large Infringement Analysis
    a.btn.btn-cta.btn-cta-primary.about-text-margin(href='/infringement-analysis') Learn More
section.white-bar    
