section.cta-section.text-center
  .container
    .title-white-large James Watt Search Lab
    hr.invalidityhr
    h2.font-blue Mechanical & Others
section.white-section.text-center
  .container.title-blue-large-thin.details-width
    h1.badge-margin Dedicated for only for Mechanical & Others patent searching
  p.details-width.about-text-style.para-text-margin.para-font-size Under this lab we conduct patent search related to mechanical & material science where each of our patent analyst are well equipped with new generation/latest tools and technology aligned with right access to the databases to find the best results for you.
section.white-section.text-center.pull-up.expertise-section-padding
  .container.details-width.blue-badge
    h1.badge-margin Representative Industries
  p.details-width.about-text-style.para-text-margin.para-font-size Mechanical - Civil - Industrial - Material Science
section.white-section.text-center.pull-up.expertise-section-padding
  .container.details-width.blue-badge
    h1.badge-margin Dedicated Expertise
  p.details-width.about-text-style.para-text-margin.para-font-size -	We have 20+ dedicated patent analysts for mechanical & others patent search services, James Watt search lab is consists xyz% of team strength.
section.white-section.text-center.pull-up.expertise-section-padding
  .container.details-width.blue-badge
    h1.badge-margin Tools & Technologies
  p.details-width.about-text-style.para-text-margin.para-font-size We use range of tools & technology specialized for Mechanical & others vertical.
section.white-section.text-center.pull-up.expertise-section-padding    
  .container.details-width.blue-badge
    h1.badge-margin Database Access
  p.details-width.about-text-style.para-text-margin.para-font-size Cognizance IP have access to a broad spectrum of patent and non-patent databases to meet our clients' business objectives.
