section.james-cover.text-center.expanded-cover
  .container
    .title-white-large James Watt Search Lab
    hr.invalidityhr
    h2.font-blue Mechanical & Others

section.white-section.text-center
  .container.title-blue-large-thin.details-width
    h1.badge-margin Dedicated only for Mechanical & Others patent searching
  p.para-style Under this lab we conduct patent search related to mechanical & material science where each 
               | of our patent analyst are well equipped with new generation/latest tools and technology 
               | aligned with right access to the databases to find the best results for you.

section.section-bg.section-james

  .text-center.green-gradient
    .head-padding
      h1.head-style Representative Industries
    ul.ul-style
      li Mechanical
      li Civil
      li Industrial
      li Material Science

  .text-center.black-gradient.div-gap-1
    .head-padding
      h1.head-style Dedicated Expertise 
    p.para-style.para-padding We have 10+ dedicated patent analysts for mechanical & others patent search services, James Watt search lab consists 20% of team strength.

  .text-center.green-gradient.div-gap-2
    .head-padding
      h1.head-style Tools & Technologies
    p.para-style.para-padding We use range of tools & technology specialized for Mechanical & others vertical.

  .text-center.black-gradient.div-gap-2   
    .head-padding
      h1.head-style Database Access
    p.para-style.para-padding.end-padding Cognizance IP have access to a broad spectrum of patent and non-patent databases to meet our clients' business objectives.

section.white-fat-bar
section.aristotle-cover.text-center
  .container
    .title-white-large Aristotle Search Lab
    h1.title.font-blue.title-margin Life Sciences
    hr.faradayhr
    p Biotechnology - Pharma - Bio Medical - Checimal - Food Technology - Medicine - Genetic Enigneering
    a.btn.btn-cta.btn-cta-primary(href='/aristotle-lab') Learn More

section.white-fat-bar
section.text-center.faraday-cover
  .container
    .title-white-large Faraday Search Lab
    h1.title.font-blue.title-margin Electronics & Telecom
    hr.faradayhr
    p Electronics - Eletrical - Semiconductor - Fiber Optics - Telecom Software - Security Surveillance - Touch Solutions - Networking
    a.btn.btn-cta.btn-cta-primary(href='/faraday-lab') Learn More
section.white-fat-bar
