section.aristotle-cover.text-center
  .container
    .title-white-large Aristotle Search Lab
    hr.invalidityhr
    h2.font-blue Life Sciences
section.white-section.text-center
  .container.title-blue-large-thin.details-width
    h1.badge-margin Dedicated for only for Life Sciences patent searching
  p.details-width.about-text-style.para-text-margin.para-font-size Under this lab we conduct patent search related to life sciences where each of our patent analyst are well equipped with new generation/latest tools and technology aligned with right access to the databases to find the best results for you.
section.white-section.text-center.pull-up.expertise-section-padding
  .container.details-width.blue-badge
    h1.badge-margin Representative Industries
  p.details-width.about-text-style.para-text-margin.para-font-size Biotechnology - Pharma - Bio Medical - Chemical - Food Technology - Medicine - Genetic Engineering
section.white-section.text-center.pull-up.expertise-section-padding
  .container.details-width.blue-badge
    h1.badge-margin Dedicated Expertise
  p.details-width.about-text-style.para-text-margin.para-font-size We have 20+ dedicated patent analysts for Electronics & Telecom patent search services, Faraday Lab consists xyz% of team strength.
section.white-section.text-center.pull-up.expertise-section-padding
  .container.details-width.blue-badge
    h1.badge-margin Tools & Technologies
  p.details-width.about-text-style.para-text-margin.para-font-size We use range of tools & technology specialized for Life Sciences vertical.
section.white-section.text-center.pull-up.expertise-section-padding    
  .container.details-width.blue-badge
    h1.badge-margin Database Access
  p.details-width.about-text-style.para-text-margin.para-font-size Cognizance IP have access to a broad spectrum of patent and non-patent databases to meet our clients' business objectives.
