.para-style{
    margin-top: 20px;
    margin-left: 25%;
    width: 50%;
    font-size: 20px;
}
.section-bg {
    position: relative;
    background-size: auto 100%;
    text-align: center;
    color: white;
    background-position: center;
    background-repeat: no-repeat;
    padding: 0 !important;
}
.section-aristotle{
    background-image: url('../../../public/img/covers/LifeScience.png');
}
.head-padding{
    padding-top: 30px;
}
.head-style{
    width: 50%;
    margin-left: 25%;
    border: 2px solid;
    padding-bottom: 7px;
}
.ul-style{
    padding-top: 20px;
    padding-bottom: 40px;
    margin-left: 35%;
    text-align: left;
    font-size: 20px;
}
.para-padding{
    padding-top: 20px;
    padding-bottom: 54px;
}
.end-padding{
    padding-bottom: 100px;
}
.green-gradient{
    background: linear-gradient(rgba(0, 120, 90, 0.55), rgba(0, 120, 90, 0.55));
}
.black-gradient{
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
}
.div-gap-1{
    margin-top: -10px;
}
.div-gap-2{
    margin-top: -15px;
}