section.aristotle-cover.text-center.expanded-cover
  .container
    .title-white-large Aristotle Search Lab
    hr.invalidityhr
    h2.font-blue Life Sciences

section.white-section.text-center
  .container.title-blue-large-thin.details-width
    h1.badge-margin Dedicated only for Life Sciences patent searching
  p.para-style Under this lab we conduct patent search related to life sciences where each of our patent 
               | analyst are well equipped with new generation/latest tools and technology aligned with right access to the databases to find the best results for you.

section.section-bg.section-aristotle  
  
  .text-center.green-gradient
    .head-padding
      h1.head-style Representative Industries
    ul.ul-style
      li Pharma 
      li Genetic Engineering      
      li Medicine
      li Food Technology      
      li Chemical
      li Bio Medical
      li Biotechnology 

  .text-center.black-gradient.div-gap-1
    .head-padding
      h1.head-style Dedicated Expertise 
    p.para-style.para-padding We have 20+ dedicated patent analysts for life sciences patent searching, The Lab consists 40% of team strength.

  .text-center.green-gradient.div-gap-2
    .head-padding
      h1.head-style Tools & Technologies
    p.para-style.para-padding Our lab is well equipped with the modern and latest tools & technology that is required to mines the best search results for our clients.

  .text-center.black-gradient.div-gap-2   
    .head-padding
      h1.head-style Database Access
    p.para-style.para-padding.end-padding We have access to a broad spectrum of patent and non-patent databases to meet our clients' business objectives.

section.white-fat-bar
section.text-center.faraday-cover
  .container
    .title-white-large Faraday Search Lab
    h1.title.font-blue.title-margin Electronics & Telecom
    hr.faradayhr
    p Electronics - Eletrical - Semiconductor - Fiber Optics - Telecom Software - Security Surveillance - Touch Solutions - Networking
    a.btn.btn-cta.btn-cta-primary(href='/faraday-lab') Learn More

section.white-fat-bar
section.james-cover.text-center
  .container
    .title-white-large James Watt Search Lab
    h1.title.font-blue.title-margin Mechanical & Others
    hr.faradayhr
    p Mechanical - Civil - Industrial - Material Science
    a.btn.btn-cta.btn-cta-primary(href='/james-watt-lab') Learn More
section.white-fat-bar
