section.cta-section.text-center
  .container
    .title-white-large Patentability Search
    hr.invalidityhr
    h2.font-blue See The White Space & Snapshot of Patent Situation
section.white-section.text-center
  .container.details-width.blue-badge
    h1.badge-margin What It Is?
  p.details-width.about-text-style.para-text-margin.para-font-size Its prior art searching for your invention to help you in identifying whether your invention has been published by anyone before the critical date of invention. 
section.white-section.text-center.pull-up.expertise-section-padding
  .container.details-width.blue-badge
    h1.badge-margin What We Do?
  p.details-width.about-text-style.para-text-margin.para-font-size We search all granted patent, published applications, Patent literature and non-patent literature.
section.white-section.text-center.pull-up.expertise-section-padding
  .container.details-width.blue-badge
    h1.badge-margin How We Do It?
  p.details-width.about-text-style.para-text-margin.para-font-size Coming Soon!
section.white-section.text-center.pull-up.expertise-section-padding
  .container.details-width.blue-badge
    h1.badge-margin What We Need?
  p.details-width.about-text-style.para-text-margin.para-font-size Single page description highlighting the novel step, claims on which search need to be done
section.white-section.text-center.pull-up.expertise-section-padding    
  .container.details-width.blue-badge
    h1.badge-margin What We Give You?
  p.details-width.about-text-style.para-text-margin.para-font-size A report that includes found arts and electronics copy of referenced found.
section.white-section.text-center.pull-up.expertise-section-padding
  .container.details-width.blue-badge
    h1.badge-margin How Our Report Helps You?
  p.details-width.about-text-style.para-text-margin.para-font-size Our applied report helps you in identify the most unique features of your invention and tells you how your invention is a novel and non-obvious idea that can be patented.
section.blue-line-section
section.white-section.text-center
  .container.details-width.blue-badge
    h1.badge-margin Contact Us for Patentability/Novelty Search Quote 