section.expertise-cover-1.text-center.expanded-cover
  .container
    .title-white-large Patentability Search
    hr.invalidityhr
    h2.font-blue Identify the most unique features of your invention
section.white-bar 

section.section-bg.section-patent
  .text-center.green-gradient
    .head-padding
      h1.head-style What It Is?
    p.para-style.para-padding Its prior art searching for your invention to help you in identifying whether your invention has been published by anyone before the critical date of invention. 

  .text-center.black-gradient.div-gap-2 
    .head-padding
      h1.head-style What We Do?
    p.para-style.para-padding We search all granted patent, published applications, Patent literature and non-patent literature.
  
  .text-center.green-gradient.div-gap-2 
    .head-padding
      h1.head-style How We Do It?
    p.para-style.para-padding Coming Soon!
  
  .text-center.black-gradient.div-gap-2 
    .head-padding
      h1.head-style What We Need?
    p.para-style.para-padding Single page description highlighting the novel step, claims on which search need to be done
  
  .text-center.green-gradient.div-gap-2 
    .head-padding
      h1.head-style What We Give You?
    p.para-style.para-padding A report that includes found arts and electronics copy of referenced found.
  
  .text-center.black-gradient.div-gap-2 
    .head-padding
      h1.head-style How Our Report Helps You?
    p.para-style.para-padding Our applied report helps you in identify the most unique features of your invention and tells you how your invention is a novel and non-obvious idea that can be patented.

section.white-bar 
section.expertise-cover-2.text-center 
  .container
    .title-white-large (In)validity Search
    p.btn.btn-cta.btn-cta-primary.about-text-margin(routerLink='/invalidity-search') Learn More
section.white-bar    
section.expertise-cover-3.text-center 
  .container
    .title-white-large Freedom-to-operate
    p.btn.btn-cta.btn-cta-primary.about-text-margin(routerLink='/freedom-to-operate') Learn More
section.white-bar    
section.expertise-cover-4.text-center 
  .container
    .title-white-large Patent Landscape
    p.btn.btn-cta.btn-cta-primary.about-text-margin(routerLink='/patent-landscape') Learn More
section.white-bar    
section.expertise-cover-5.text-center 
  .container
    .title-white-large Infringement Analysis
    p.btn.btn-cta.btn-cta-primary.about-text-margin(routerLink='/infringement-analysis') Learn More
section.white-bar    
section.expertise-cover-6.text-center 
  .container
    .title-white-large Evidence-of-use Analysis
    p.btn.btn-cta.btn-cta-primary.about-text-margin(routerLink='/evidence-of-use') Learn More
section.white-bar    