.about-headline-bg
section.story-section.section.section-on-bg
  h2.title.container.text-center One liner about the company.
  p.intro.text-center
    | Are you a struggling actor, a musician waiting to get recognised or just a creative soul awaiting your turn?
    | Well you’ve landed at the right place. Welcome aboard..
  .story-container.container.text-center.about-margin
    .story-container-inner
      .about
        .text-center
        p.about-text Pinaklab is a Mumbai based creative studio. A startup aiming to unite talent and innovative outlets.
                     | We are a bunch of passionate and enthusiastic creative minds, who aim to help budding artists pave their way
                     | to success. Polishing your skills and showcasing your work to the entire world in a proper way.

        p.about-text Talent succeeds when gelled with the right resources. We have a unique and efficient way of working,
                     | assuring steady results.

        p.about-text Our vision is to furnish you, the artist and get you featured in our in-house production. With the
                     | intent of creating good quality content, both with new and skilled artists eventually
                     | collaborating and enhancing our clientele.

        //blockquote.belife Our team is an ideal conglomeration of talent, innovation and versatility.

      // TEAM
      //.team.row
      //  h3.title Meet the team
      //  .member.col-md-4.col-sm-6.col-xs-12
      //    .member-inner
      //      figure.profile
      //        img.img-responsive(src='img/team/tanumoy.jpg', alt='image not loaded')
      //        figcaption.info
      //          span.name Member 1
      //          br
      //          span.job-title Designation
      //      .social
      //        ul.social-list.list-inline
      //          li
      //            a(href='https://www.linkedin.com/in/tanumoymishra/')
      //              i.fa.fa-linkedin
      //          li
      //            a(href='https://twitter.com/tanumoymishra')
      //              i.fa.fa-twitter
      //          li
      //            a(href='https://www.facebook.com/iamBedant')
      //              i.fa.fa-facebook
      //  .member.col-md-4.col-sm-6.col-xs-12
      //    .member-inner
      //      figure.profile
      //        img.img-responsive(src='img/team/tanumoy.jpg', alt='image not loaded')
      //        figcaption.info
      //          span.name Member 1
      //          br
      //          span.job-title Designation
      //      .social
      //        ul.social-list.list-inline
      //          li
      //            a(href='https://www.linkedin.com/in/tanumoymishra/')
      //              i.fa.fa-linkedin
      //          li
      //            a(href='https://twitter.com/tanumoymishra')
      //              i.fa.fa-twitter
      //          li
      //            a(href='https://www.facebook.com/iamBedant')
      //              i.fa.fa-facebook
      //  .member.col-md-4.col-sm-6.col-xs-12
      //    .member-inner
      //      figure.profile
      //        img.img-responsive(src='img/team/tanumoy.jpg', alt='image not loaded')
      //        figcaption.info
      //          span.name Member 1
      //          br
      //          span.job-title Designation
      //      .social
      //        ul.social-list.list-inline
      //          li
      //            a(href='https://www.linkedin.com/in/tanumoymishra/')
      //              i.fa.fa-linkedin
      //          li
      //            a(href='https://twitter.com/tanumoymishra')
      //              i.fa.fa-twitter
      //          li
      //            a(href='https://www.facebook.com/iamBedant')
      //              i.fa.fa-facebook
      //  .member.col-md-4.col-sm-6.col-xs-12
      //    .member-inner
      //      figure.profile
      //        img.img-responsive(src='img/team/tanumoy.jpg', alt='image not loaded')
      //        figcaption.info
      //          span.name Member 1
      //          br
      //          span.job-title Designation
      //      .social
      //        ul.social-list.list-inline
      //          li
      //            a(href='https://www.linkedin.com/in/tanumoymishra/')
      //              i.fa.fa-linkedin
      //          li
      //            a(href='https://twitter.com/tanumoymishra')
      //              i.fa.fa-twitter
      //          li
      //            a(href='https://www.facebook.com/iamBedant')
      //              i.fa.fa-facebook
      //  .member.col-md-4.col-sm-6.col-xs-12
      //    .member-inner
      //      figure.profile
      //        img.img-responsive(src='img/team/tanumoy.jpg', alt='image not loaded')
      //        figcaption.info
      //          span.name Member 1
      //          br
      //          span.job-title Designation
      //      .social
      //        ul.social-list.list-inline
      //          li
      //            a(href='https://www.linkedin.com/in/tanumoymishra/')
      //              i.fa.fa-linkedin
      //          li
      //            a(href='https://twitter.com/tanumoymishra')
      //              i.fa.fa-twitter
      //          li
      //            a(href='https://www.facebook.com/iamBedant')
      //              i.fa.fa-facebook
      //  .member.col-md-4.col-sm-6.col-xs-12
      //    .member-inner
      //      figure.profile
      //        img.img-responsive(src='img/team/tanumoy.jpg', alt='image not loaded')
      //        figcaption.info
      //          span.name Member 1
      //          br
      //          span.job-title Designation
      //      .social
      //        ul.social-list.list-inline
      //          li
      //            a(href='https://www.linkedin.com/in/tanumoymishra/')
      //              i.fa.fa-linkedin
      //          li
      //            a(href='https://twitter.com/tanumoymishra')
      //              i.fa.fa-twitter
      //          li
      //            a(href='https://www.facebook.com/iamBedant')
      //              i.fa.fa-facebook
