section.text-center.img-cover-section
  .container
    .title.title-white-large The Company
    h1.title.font-blue Deep Patent Search For Your Business Objectives

section.text-center.white-section
  .container
    .title.title-blue-large About
    p.about-text-style.about-text-margin Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
      |standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
      | a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
      | remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
      | Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions
      | of Lorem Ipsum.

    p.about-text-style Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
      |standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
      | a type specimen book.

    .title.title-blue-large.about-text-margin Mission
    p.about-text-style.about-text-margin Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
      |standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
      | a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
      | remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
      | Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions
      | of Lorem Ipsum.

    .title.title-blue-large.about-text-margin Vision
    p.about-text-style.about-text-margin Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
      |standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
      | a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
      | remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing
      | Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions
      | of Lorem Ipsum.

section.text-center.grey-section
  .container
    .title.title-blue-large Management Team

    .row
      .col-md-offset-1.col-md-10.about-text-margin
        .col-md-3
          figure.profile
            img.img-style(src='./img/testimonials/sample.jpg', alt='image not found')
        .col-md-9.content.content-text-align
          p.title-bold Vishwas R. Verma
          p CEO & Founder
          p.discription-justify Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
            |standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
            | a type specimen book.
          .font-blue.icon-font-size
            a.fa.fa-linkedin-square.icon-margin(href ='https://facebook.com', target='_blank')
            a.fa.fa-envelope.icon-margin(href ='https://facebook.com', target='_blank')
            a.fa.fa-twitter(href ='https://facebook.com', target='_blank')

      .col-md-offset-1.col-md-10.about-text-margin
        .col-md-3
          figure.profile
            img.img-style(src='./img/testimonials/sample.jpg', alt='image not found')
        .col-md-9.content.content-text-align
          p.title-bold Vishwas R. Verma
          p CEO & Founder
          p.discription-justify Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
            |standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
            | a type specimen book.
          .font-blue.icon-font-size
            a.fa.fa-linkedin-square.icon-margin(href ='https://facebook.com', target='_blank')
            a.fa.fa-envelope.icon-margin(href ='https://facebook.com', target='_blank')
            a.fa.fa-twitter(href ='https://facebook.com', target='_blank')

      .col-md-offset-1.col-md-10.about-text-margin
        .col-md-3
          figure.profile
            img.img-style(src='./img/testimonials/sample.jpg', alt='image not found')
        .col-md-9.content.content-text-align
          p.title-bold Vishwas R. Verma
          p CEO & Founder
          p.discription-justify Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
            |standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
            | a type specimen book.
          .font-blue.icon-font-size
            a.fa.fa-linkedin-square.icon-margin(href ='https://facebook.com', target='_blank')
            a.fa.fa-envelope.icon-margin(href ='https://facebook.com', target='_blank')
            a.fa.fa-twitter(href ='https://facebook.com', target='_blank')            