//- section.text-center.img-cover-section
//-   .container
//-     .title.title-white-large The Company
//-     h1.title.font-blue Deep Patent Search For Your Business Objectives

section.white-section.text-center 
  .container
    .title-blue-large-thin The Company
    h2.font-grey Deep Patent Search For Your Business Objectives
    hr.serviceshr

section.text-center.grey-section
  .container
    .title.title-blue-large About
    p.about-text-style.about-text-margin.para-font-size CognizanceIP is an innovative patent search company headed up by a team of business analysts, patent researchers, economists, computer scientists and engineers. Founded in New Delhi in 2016, CognizanceIP provides only specialized, smart and deep patent search solution to Patent Attorneys, IP Law Firms, Corporate, Technical Universities and Patent Agent to solve their business objectives. 

    p.about-text-style.para-font-size Our innovative patent search lab, where all deep level patent search work done by our experts produce knowledge loaded applied report that help our clients in making strategic business decisions. 

    .title.title-blue-large.about-text-margin Mission
    p.about-text-style.about-text-margin.para-font-size Our mission is to provide smart and applied patent search report to leverage insights. CognizanceIP uses the power of right database and smart patent analyst intelligence to deliver applied reports on patent values, technology trends and market developments. We provide the edge of information advantage to boost innovation activities and facilitate market success. At CognizanceIP, we believe that smart IP analytics will accelerate the success of every business, and we are dedicated to that mission.

    .title.title-blue-large.about-text-margin Vision
    p.about-text-style.about-text-margin.para-font-size Our vision is to provide world’s top class patent services worldwide with the see-through access. We want to transform the future of patent services and radically changing the way law firms, patent attorneys, technical universities, scientist and patent agents used to interact and doing business with us.

section.text-center.white-section
  .container
    .title.title-blue-large Management Team

    .row
      .col-md-offset-1.col-md-10.about-text-margin
        .col-md-3
          figure.profile
            img.img-style(src='./img/team/vishwas.jpg', alt='vishwas verma')
        .col-md-9.content.content-text-align
          p.title-bold Vishwash Raj Verma
          p Founder & CEO 
          p.discription-justify Vishwash holds Telecommunication Engineering degree from CMRIT, Bangalore and Business Analyst & Business Intelligence from IIM-Ranchi. After his studies, He has worked as a Chief Business Consultant & Business Development Manager in IP service firms internationally. He has been involved in several studies on patents, standards and ICT markets.
          //- .font-blue.icon-font-size
            a.fa.fa-linkedin-square.icon-margin(href ='https://facebook.com', target='_blank')
            a.fa.fa-envelope.icon-margin(href ='https://facebook.com', target='_blank')
            a.fa.fa-twitter(href ='https://facebook.com', target='_blank')

      .col-md-offset-1.col-md-10.about-text-margin
        .col-md-3
          figure.profile
            img.img-style(src='./img/team/siddharth.jpg', alt='siddharth')
        .col-md-9.content.content-text-align
          p.title-bold Siddharth Pratap Singh
          p Chief Operating Officer (COO)
          p.discription-justify Siddharth holds IPR Law Degree from UCLA, Los Angeles and Computer Science engineering from JIIT, Noida. He has expertise in deep patent searching such as Prior Art Searching, Infringement Analysis, Patentability Search, Claims Chart Mapping, Patent Landscape, and Invalidity Search Analysis.

      .col-md-offset-1.col-md-10.about-text-margin
        .col-md-3
          figure.profile
            img.img-style(src='./img/team/vishal.jpg', alt='vishal')
        .col-md-9.content.content-text-align
          p.title-bold Vishal Singh
          p Chief Financial Officer (CFO)
          p.discription-justify Vishal holds degree in electrical engineering from JIIT, Noida and MBA in Finance from IMT- Ghaziabad. He is a certified CFA. He has worked at Ernst & Young and Accenture as Financial Analyst before founding CognizanceIP.

      .col-md-offset-1.col-md-10.about-text-margin
        .col-md-3
          figure.profile
            img.img-style(src='./img/team/abhinav.jpg', alt='abhinav')
        .col-md-9.content.content-text-align
          p.title-bold Abhinav Bansal
          p Chief Technology Officer (CTO)
          p.discription-justify Abhinav co-founded CognizanceIP and developed its core technology. His interests are in the field of data mining, patent data, analytics, and statistics. Abhinav holds a master degree in Computer Science from the University of Texas, Arlington.   

      .col-md-offset-1.col-md-10.about-text-margin
        .col-md-3
          figure.profile
            img.img-style(src='./img/team/ashish.jpg', alt='ashish')
        .col-md-9.content.content-text-align
          p.title-bold Ashish Agarwal
          p Data Scientist
          p.discription-justify Ashish Agarwal holds Computer Science Engineering degree from JIIT. He has worked at ANZ & Bharti Airtel as Business Analyst & Data Scientist. He is having vast experience in Machine Learning and Artificial Intelligence. At Cognizance IP he manages the AIML group, involved in creating a rich and diverse IP portfolio & patent landscape within Artificial Intelligence, Machine Learning, and Big Data.