@import "index";

// importing font-awesome
$fa-font-path: "~font-awesome/fonts";
@import "~font-awesome/scss/font-awesome";

// importing bootstrap
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
@import "~bootstrap-sass/assets/stylesheets/bootstrap";
@import "~materialize-css/dist/css/materialize.min.css";

@import "global";
@import "masthead";
@import "loading";
@import "theme";

.btn {
    padding: 4px 10px !important;
}