.logo {
  cursor: pointer;
  float: left;
  width: 215px;
  height: 63px;
  background-image: url('../../../public/img/logo.png');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}
li {
  cursor: pointer;
}
li:focus {
  outline: #ffffff auto 5px !important;
}
li:active {
  outline: #ffffff auto 5px !important;
}
.burger-margin{
  margin-top: 6px !important;
}
@media (min-width: 767px) {
  .navbar-margin{
    margin-top: 10px;
  }
}

.background-white{
  background: #fff;
}
.header .main-nav .nav .nav-item a {
  color: #343434;
}
.header .main-nav .nav .nav-item a:hover {
  color: #1D8F9A;
  background: none !important;
}
.header .main-nav .nav .nav-item.active a {
  color: #1D8F9A;
  background: none !important;
  font-weight: bold;
}
.header .main-nav .navbar-toggle {
  margin-right: 0;
  margin-top: 0;
  background: none;
  position: absolute;
  right: 10px;
  top: 10px;
}
.icon-bar{
  background-color: #343434 !important;
}
a:hover{
  text-decoration: none !important;
  background-color: none !important;
}
.dropdown-style{
  color: #343434 !important;
}
.dropdown-style:hover{
  color: #1D8F9A !important;
  background-color: none !important;
}
@media (max-width: 767px){
  .nav-collapsed-margin{
    margin-top: -26px;
  }
}
.header-bg {
  position: relative;
  background-size: 100%;
  min-height: auto;
  text-align: center;
  color: white;
  background-image: url('../../../public/img/header.jpg');
  background-position: center;
}
.navbar-fixed-top{
  box-shadow: 0 0 10px rgba(0,0,0,0.8);
}