.career-bg {
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('../../../public/img/career.jpg') no-repeat left top;
    background-size: cover;
    color: #fff;
    padding-top: 130px;
    border: none;
}
.p-style{
    margin-top: 20px;
    margin-left: 10%;
    width: 80%;
    font-size: 20px;
}
.job-title-div{
    background: #fff;
    margin-left: -10px;
    margin-top: 20px;
}
.job-title-div:hover{
    cursor: pointer;
}
.job-title-style{
    font-size: 22px;
    margin-left: 10%;
    padding-top: 10px;
    padding-bottom: 10px;
}
.toggle-res{
    width: 30px;
    float: right;
    margin-right: 20px;
}
.div-margin{
    margin-top: 20px;
}
.pic-style{
    border-radius: 50%;
    width: 90px;
    height: 90px;
}
.qus-margin{
    margin-top: 5px;
    margin-bottom: 2px;
}
.title-style{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 0px;
}
.zero-mar{
    margin-bottom: 0px;
}
.text-bold{
    font-weight: bold;
}
.white-background{
    background: #fff;
    margin-left: -10px;
    padding-left: 10px;
}
.no-margin{
    margin: 0 !important;
}
@media (max-width: 450px) {
    .mobile-margin{
        margin-left: 15px;
        margin-right: 5px;
    }
    .mobile-adjust{
        margin-top: 20px;
    }
}