.do-header-topbar {
  background-color: rgba(49, 194, 177, 0.78);
  padding: 10px 0;
  overflow: hidden;
  position: relative;
  z-index: 1;
}
.do-header-topbar .do-topbar-content-wrap {
  width: 50%;
  float: left;
  display: inline-block;
}
.do-header-topbar .do-topbar-content-wrap.do-topbar-content-right {
  text-align: right;
}
.do-header-topbar .do-topbar-content-wrap {
  width: 50%;
  float: left;
  display: inline-block;
}
.do-header-topbar .do-topbar-content-wrap.do-topbar-content-left ul li {
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  color: #fff;
  font-weight: 400;
  float: left;
  margin-right: 20px;
}
.do-header-topbar .do-topbar-content-wrap.do-topbar-content-right ul {
  display: inline-block;
}
.do-header-topbar .do-topbar-content-wrap.do-topbar-content-right ul li {
  float: left;
  margin-right: 15px;
}
.fa-cog {
  color: white;
}
