.do-header-topbar.fixed-top
  .container
    .row
      .do-topbar-content-wrap.do-topbar-content-left
        ul
          li
            i.fa.fa-envelope-o
            |  info@themebeer.com
          li
            i.fa.fa-phone
            |  +00 (123) 456 78 90
      .do-topbar-content-wrap.do-topbar-content-right
        ul
          li
            a(href='#', target='_blank')
              i.fa.fa-cog.fa-bitbucket
          li
            a(href='#', target='_blank')
              i.fa.fa-cog.fa-facebook-f
          li
            a(href='#', target='_blank')
              i.fa.fa-cog.fa-vimeo
          li
            a(href='#', target='_blank')
              i.fa.fa-cog.fa-dribbble
          li
            a(href='#', target='_blank')
              i.ti-github
