.services-section {
  background: #253340 url('../../../public/img/background.jpg') no-repeat left top;
}
.serviceshr{
  border-color: #757575;
  border-width: 2px;
  max-width: 540px;
}
.white-bar {
  background: #ffffff;
  max-height: 20px !important;
  height: 20px !important;
  padding: 0 !important;
}