.section.testimonials(*ngIf='showTestimonials')
  .container
    h2.title.text-center.font-color What are people saying about Us?

    .carousel.slide
      carousel.carousel-inner
        slide.item(*ngFor='let testimonial of testimonials')
          figure.profile
            img(src='{{testimonial.image}}', alt='{{testimonial.author}}')
          .content
            blockquote
              i.fa.fa-quote-left
              p {{testimonial.content}}
            p.source {{ testimonial.author }}
              br
              span.title {{ testimonial.designation }}
