section.white-section.text-center 
  .container
    .title-blue-large-thin PATENT SEARCH LAB
    h2.font-grey Dedicated Lab For Your Valuable Project
    hr.labhr
section.cta-section.text-center
  .container
    .title-white-large Aristotle Search Lab
    h1.title.font-blue.title-margin Life Sciences
    hr.aristotlehr
    p Biotechnology - Pharma - Bio Medical - Checimal - Food Technology - Medicine - Genetic Enigneering
    p.btn.btn-cta.btn-cta-primary(routerLink='/contact') Learn More
section.white-fat-bar
section.cta-section.text-center
  .container
    .title-white-large Faraday Search Lab
    h1.title.font-blue.title-margin Electronics & Telecom
    hr.aristotlehr
    p Electronics - Eletrical - Semiconductor - Fiber Optics - Telecom Software - Security Surveillance - Touch Solutions - Networking
    p.btn.btn-cta.btn-cta-primary(routerLink='/contact') Learn More
section.white-fat-bar
section.cta-section.text-center
  .container
    .title-white-large James Watt Search Lab
    h1.title.font-blue.title-margin Mechanical & Others
    hr.aristotlehr
    p Mechanical - Civil - Industrial - Material Science
    p.btn.btn-cta.btn-cta-primary(routerLink='/contact') Learn More
section.white-fat-bar
