.do-social-link-section
  .container
    .row.col-sm-offset-1.col-md-offset-1
      a(href='https://www.facebook.com/pinaklab', target='_blank')
        span
          i.fa.fa-facebook
        | facebook
      a(href='https://www.instagram.com/pinaklab/', target='_blank')
        span
          i.fa.fa-instagram
        | instagram
      a(href='https://www.youtube.com/pinaklab', target='_blank')
        span
          i.fa.fa-youtube
        | YouTube
