.do-social-link-section {
  background-color: #373737;
  overflow: hidden;
}
.do-social-link-section a:first-child {
  border-left: 1px solid #333;
}
.do-social-link-section a {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  color: #c0c0c0;
  line-height: 30px;
  display: inline-block;
  letter-spacing: 6px;
  text-transform: uppercase;
  float: left;
  text-align: center;
  width: 30%;
  padding: 50px 0;
  border-right: 1px solid #333;
  transition: all .35s;
}
@media(max-width: 767px){
.do-social-link-section a {
  border-right: 0px solid #333;
  border-bottom: 1px solid #333;
  float: none;
  padding: 20px 30px;
  text-align: left;
  width: 100%;
}}
