section#cta-section.cta-section.text-center
  .container
    h1.title Invalidity Search Experts
    hr.invalidityhr
    .title.title-blue-large-thin WE SEE WHAT OTHERS OFTEN MISS
    p.btn.btn-cta.btn-cta-primary(routerLink='/contact') Learn More
section.text-center.white-section
  .container
    h2.title.title-blue-large-thin Patent Search Lab
    hr.patenthr
section.cta-section.text-center
  .container
    .title-white-large Aristotle Search Lab
    h1.title.font-blue.title-margin Life Sciences
    hr.aristotlehr
    p Biotechnology - Pharma - Bio Medical - Checimal - Food Technology - Medicine - Genetic Enigneering
    p.btn.btn-cta.btn-cta-primary(routerLink='/contact') Learn More
section.text-center.white-section
  .container
    .title.title-blue-large-thin Our Clients
    hr.patenthr    
section.text-center.grey-section
  .container    
section.text-center.white-section
  .container
    h2.title.title-blue-large-thin Why Cognizance IP
    hr.patenthr    
section.cta-section.text-center
  .container
    h2.title.font-blue Because we solve your IP business objectives
section.text-center.white-section
  .container
    h2.title.title-blue-large-thin Clients Speak
    hr.patenthr       
section.cta-section.text-center
  .container
    h2.title Lorem Ipsum    
section.text-center.white-section
  .container
    h2.title.title-blue-large-thin We Are Social
    hr.patenthr  
    p Let's Socialize   
    .row
      .social-icon-size
        .col-md-1.col-md-offset-3
          a.fa.fa-twitter(href ='https://facebook.com', target='_blank') 
          p.font-grey Twitter
        .col-md-1
          a.fa.fa-facebook(href ='https://facebook.com', target='_blank')
          p.font-grey Facebook
        .col-md-1
          a.fa.fa-linkedin(href ='https://facebook.com', target='_blank')
          p.font-grey LinkedIn
        .col-md-1
          a.fa.fa-google-plus(href ='https://facebook.com', target='_blank')  
          p.font-grey Google+
        .col-md-1
          a.fa.fa-youtube(href ='https://facebook.com', target='_blank')
          p.font-grey YouTube
        .col-md-1
          a.fa.fa-instagram(href ='https://facebook.com', target='_blank')
          p.font-grey Instagram
section.aqua-section