@import "../../../stylesheets/index";

.cta-section {
  background: #253340 url('../../../../public/img/background.jpg') no-repeat left top;
  background-size: cover;
  color: #fff;
  padding-top: 130px;
  border: none;
}
.white-section {
  background: #ffffff;
}
.aqua-section {
  background: #4FE3C1;
  max-height: 20px !important;
  height: 20px !important;
  padding: 0 !important;
}
.cta-section .title {
  margin-top: 0;
  margin-bottom: 40px;
}
.btn-cta {
  font-size: 20px;
}
.cta-section .intro {
  margin-bottom: 15px;
  color: #fff;
}

// underlines
.invalidityhr{
  border-color: #757575;
  border-width: 2px;
  max-width: 500px;
}
.patenthr{
  border-color: #757575;
  border-width: 2px;
  max-width: 250px;
}
.aristotlehr{
  border-color: #757575;
  border-width: 2px;
  max-width: 780px;
  margin-top: -20px;
}

// headings styles
.title-blue-large-thin{
  font-weight: lighter;
  color: #1D8F9A;
  font-size: 45px;
}

.title-blue-large{
  color: #1D8F9A;
  font-size: 45px;
}
.title-white-large{
  color: #fff;
  font-size: 45px;
}

.font-blue{
  color: #1D8F9A;
}
.font-grey{
  color: #868686;
}

// other styles
.title-margin{
  margin-top: 20px !important;
}
.social-icon-size{
  font-size: 60px;
}