.contact-headline-bg
section.text-center.white-section.trim-sec-1-bottom
  .container
    .title.title-blue-large-thin CONTACT US
    h2.text-center.font-grey We Do The Rest
    hr.contact-hr    
section#mail-anchor.contact-section.contact-form-align
    //- .container
    //-   h2.title.text-center Contact Us
    //-   p.intro.text-center
    //-     | Let us know if you have any query, Don't hesitate to ping US up. we’d love to hear from you and are always ready to sail with you.
    form#contact-form.contact-form(method='post', action='https://formspree.io/info@cognizanceip.com')
      .row.text-center
        .contact-form-inner.col-md-offset-2.col-sm-offset-0.xs-offset-0.col-xs-12.col-md-8
          .row
            .form-group.zero-mar.col-xs-12.col-sm-6
              label.sr-only(for='cname') Your name
              input#cname.form-control.input-style.font_s(type='text', name='name', placeholder='Your name', minlength='2', required)
            .form-group.zero-mar.col-xs-12.col-sm-6
              label.sr-only(for='cemail') Email address
              input#cemail.form-control.input-style.font_s(type='email', name='_replyto', placeholder='Your email address', required)
            .form-group.zero-mar.col-xs-12.col-sm-6
              label.sr-only(for='city') City
              input#city.form-control.input-style.font_s(type='text', name='city', placeholder='City')
            .form-group.zero-mar.col-xs-12.col-sm-6
              label.sr-only(for='phone') Phone
              input#phone.form-control.input-style.font_s(type='text', name='phone', placeholder='Phone')
            .form-group.col-xs-12
              label.sr-only(for='cmessage') Your message
              textarea#cmessage.form-control(name='message', placeholder='Enter your message', rows='6', required)
            .form-group.col-xs-12.col-sm-3
              <p> Want to Set up a Meeting? </p>
            .form-group.col-xs-12.col-sm-3
              input.datepicker.font_s(type='text', name='date', placeholder='Date')
            .form-group.col-xs-12.col-sm-3
              input.timepicker.font_s(type='text', name='time', placeholder='Time')
            .form-group.col-xs-12.col-sm-3.zone-margin
              select.form-control.select-style(name='zone')
                option GMT+5:30 Mumbai
                option(*ngFor= 'let obj of zones', [value]='obj') {{obj}}

            .form-group.col-xs-12
              button.btn.btn-block.btn-cta.btn-cta-primary(type='submit') Send Message
      #form-messages

// ******Other Contact Section******
section.contact-other-section.contact-details-padding
  .container.text-center
    h2.title Other ways to reach us
    p.intro You can also get in touch with us by phone or mail.
    .row
      ul.other-info.list-unstyled.col-md-6.col-sm-10.col-xs-12.col-md-offset-3.col-sm-offset-1.xs-offset-0
        li.no-pointer
          i.fa.fa-phone
          a(href="tel:+919643210337", target='_blank') +91-9643210337
        li.no-pointer
          i.fa.fa-envelope
          a(href='email:info@cognizanceip.com', target='_blank') info@cognizanceip.com
        li.no-pointer
          i.fa.fa-map-marker
          | #157, SBP Business Park,
          br
          | Chandigarh (UT)
          br
          | Pin – 160002
section.map-pull-up 
  agm-map([latitude]='lat', [longitude]='lng', [zoom]='z_level')
    agm-marker([latitude]='lat', [longitude]='lng')
