social-section

.footer
  .footer-content
    .container
      .row
        .footer-col.links.col-sm-4.col-xs-6
          .row.padding
            .footer-col-inner
              h3.title ABOUT
              ul.list-unstyled
                li(routerLink='/about')
                  a Who We Are?
                li(routerLink='/contact')
                  a Contact Us

        .footer-col.links.col-sm-4.col-xs-6
          .row.padding
            .footer-col-inner
              h3.title SUPPORT
              ul.list-unstyled
                li(routerLink='/disclaimer')
                  a Disclaimer
                li(routerLink='/privacy')
                  a Privacy Policy
                li(routerLink='/terms')
                  a Terms & Conditions

      .row.padding
        p &copy; 2017 Pinaklab. All Rights Reserved
