.footer
  .footer-content
    .container
      .row

        .footer-col.links.col-md-3.col-sm-4.col-xs-12
          .row.padding
            .footer-col-inner
              h3.title.title-underline Headquarter
              p.text-style #157, SBP Business Park,
                br
                | Chandigarh (UT) - 160002
                br
                | Contact: +91-9643210337

        .footer-col.links.col-md-3.col-sm-4.col-xs-12
          .row.padding
            .footer-col-inner
              h3.title.title-underline Reach Out
              p.text-style USA
                br
                | +1-222-000-222
                br
                | India
                br
                | +91-9643210337

        .footer-col.links.col-md-3.col-sm-4.col-xs-12
          .row.padding
            .footer-col-inner
              h3.title.title-underline Quick Links
              ul.list-unstyled
                li
                  a(href='/about') Team
                li
                  a(href='/career') Careers
                li
                  a(href='/labs') Labs
                li
                  a(href='/expertise') Patent Solutions                  
                li
                  a(href='/privacy') Privacy Policy
                li
                  a(href='/terms') Terms of Use

        .footer-col.links.col-md-3.col-sm-4.col-xs-12
          .row.padding
            .footer-col-inner
              h3.title.title-underline Twitter Feed
              a.twitter-timeline(data-width='240', data-height='180', data-chrome="nofooter noheader noborders noscrollbar transparent", data-theme='dark', href='https://twitter.com/CognizanceIP?ref_src=twsrc%5Etfw') Tweets by CognizanceIP

        //- .footer-col.links.col-md-5.col-sm-5.col-xs-12
        //-   .row.padding
        //-     .footer-col-inner
        //-       h3.title.title-underline Disclaimer
        //-       p.text-style The information contained in this website is for general information purposes only. The information 
        //-         | is provided by CognizanceIP and while we endeavour to keep the information up to date and correct, we make
        //-         | no representations or warranties of any kind, express or implied, about the completeness, accuracy, reliability
        //-         | suitability or availability with respect to the website or the information, products,

      .row.padding
        p.text-style &copy; 2017 CognizanceIP. All Rights Reserved.Images are for design purposes only with actors appearing in some photos.
          | Attorney Advertising. Prior results do not guarantee similar outcome.
