section.expertise-cover-5.text-center.expanded-cover
  .container
    .title-white-large Infringement Analysis
    hr.invalidityhr
    h2.font-blue See The White Space & Snapshot of Patent Situation
section.white-section.text-center
  .container.details-width.blue-badge
    h1.badge-margin What It Is?
  p.details-width.about-text-style.para-text-margin.para-font-size Patent infringement analysis is done in order to identify the product/process that might be infringing your clients patented invention without his/her consent. 
section.white-section.text-center.pull-up.expertise-section-padding
  .container.details-width.blue-badge
    h1.badge-margin What We Do?
  p.details-width.about-text-style.para-text-margin.para-font-size We conduct in-depth analysis and market research to identify the potential company or person who might be interested in licensing in inventors’ technology.
section.white-section.text-center.pull-up.expertise-section-padding
  .container.details-width.blue-badge
    h1.badge-margin How We Do It?
  p.details-width.about-text-style.para-text-margin.para-font-size Coming Soon!
section.white-section.text-center.pull-up.expertise-section-padding
  .container.details-width.blue-badge
    h1.badge-margin What We Need?
  p.details-width.about-text-style.para-text-margin.para-font-size Patent number, Scope of claim.
section.white-section.text-center.pull-up.expertise-section-padding    
  .container.details-width.blue-badge
    h1.badge-margin What We Give You?
  p.details-width.about-text-style.para-text-margin.para-font-size Infringement analysis report, List of potential infringers.
section.white-section.text-center.pull-up.expertise-section-padding
  .container.details-width.blue-badge
    h1.badge-margin How Our Report Helps You?
  p.details-width.about-text-style.para-text-margin.para-font-size Infringement analysis helps you in design/redesign the product or process without violating the products of a patent and for litigation proceeding.
section.blue-line-section
section.white-section.text-center
  .container.details-width.blue-badge
    h1.badge-margin Contact Us for Infringement Quote 
section.expertise-cover-1.text-center 
  .container
    .title-white-large Patentability Search
    p.btn.btn-cta.btn-cta-primary.about-text-margin(routerLink='/patentability-search') Learn More
section.white-bar    
section.expertise-cover-2.text-center 
  .container
    .title-white-large (In)validity Search
    p.btn.btn-cta.btn-cta-primary.about-text-margin(routerLink='/invalidity-search') Learn More
section.white-bar    
section.expertise-cover-3.text-center 
  .container
    .title-white-large Freedom-to-operate
    p.btn.btn-cta.btn-cta-primary.about-text-margin(routerLink='/freedom-to-operate') Learn More
section.white-bar    
section.expertise-cover-4.text-center 
  .container
    .title-white-large Patent Landscape
    p.btn.btn-cta.btn-cta-primary.about-text-margin(routerLink='/patent-landscape') Learn More
section.white-bar      
section.expertise-cover-6.text-center 
  .container
    .title-white-large Evidence-of-use Analysis
    p.btn.btn-cta.btn-cta-primary.about-text-margin(routerLink='/evidence-of-use') Learn More
section.white-bar    