section.expertise-cover-5.text-center.expanded-cover
  .container
    .title-white-large Infringement Analysis
    hr.invalidityhr
    h2.font-blue Investigate potential infringing entities.
section.white-bar 

section.section-bg.section-infringe
  .text-center.green-gradient
    .head-padding
      h1.head-style What It Is?
    p.para-style.para-padding Patent infringement analysis is done in order to identify the product/process that might be infringing your clients patented invention without his/her consent. 

  .text-center.black-gradient.div-gap-2 
    .head-padding
      h1.head-style What We Do?
    p.para-style.para-padding We conduct in-depth analysis and market research to identify the potential company or person who might be interested in licensing in inventors’ technology.

  .text-center.green-gradient.div-gap-2 
    .head-padding
      h1.head-style How We Do It?
    p.para-style.para-padding Coming Soon!

  .text-center.black-gradient.div-gap-2 
    .head-padding
      h1.head-style What We Need?
    p.para-style.para-padding Patent number, Scope of claim.

  .text-center.green-gradient.div-gap-2 
    .head-padding
      h1.head-style What We Give You?
    p.para-style.para-padding Infringement analysis report, List of potential infringers.

  .text-center.black-gradient.div-gap-2 
    .head-padding
      h1.head-style How Our Report Helps You?
    p.para-style.para-padding Infringement analysis helps you in design/redesign the product or process without violating the products of a patent and for litigation proceeding.

section.white-bar   
section.expertise-cover-1.text-center 
  .container
    .title-white-large Patentability Search
    a.btn.btn-cta.btn-cta-primary.about-text-margin(href='/patentability-search') Learn More
section.white-bar    
section.expertise-cover-2.text-center 
  .container
    .title-white-large (In)validity Search
    a.btn.btn-cta.btn-cta-primary.about-text-margin(href='/invalidity-search') Learn More
section.white-bar    
section.expertise-cover-3.text-center 
  .container
    .title-white-large Freedom-to-Operate
    a.btn.btn-cta.btn-cta-primary.about-text-margin(href='/freedom-to-operate') Learn More
section.white-bar    
section.expertise-cover-4.text-center 
  .container
    .title-white-large Patent Landscape
    a.btn.btn-cta.btn-cta-primary.about-text-margin(href='/patent-landscape') Learn More
section.white-bar       
section.expertise-cover-6.text-center 
  .container
    .title-white-large Evidence-of-Use Analysis
    a.btn.btn-cta.btn-cta-primary.about-text-margin(href='/evidence-of-use') Learn More
section.white-bar    