section#cta-section.section.cta-section.text-center.home-cta-section
  .container
    h2.title Ready to join us and stand out of the crowd?
    p.btn.btn-cta.btn-cta-primary(routerLink='/contact') Contact now!
