//.headline-bg

// https://codepen.io/transportedman/pen/NPWRGq
#home-slider
  .carousel.slide.carousel-fade(data-ride='carousel')
    // Wrapper for slides
    .carousel-inner(role='listbox')
      .item.active

.home-headline-bg.home-margin-top

  .section.section-on-bg
    .container.text-center
      h2.title Welcome to PinakLab.
      p.intro We provide you an exclusive stage to showcase your talent
        br
        | so that you can turn our visitors into customers.
      p
        a.btn.btn-cta.btn-cta-primary(routerLink='/contact') Contact Us
      button.link-color.play-trigger.btn-link(type='button', data-toggle='modal', routerLink='/videos',)
        //data-target='#modal-video'
        i.fa.fa-youtube-play
        |  Watch the video

main

testimonials

cta
