section.main-section-padding
  #myCarousel.carousel.slide.slider-height(data-ride='carousel')
    // Indicators
    ol.carousel-indicators
      li.active(data-target='#myCarousel', data-slide-to='0')
      li(data-target='#myCarousel', data-slide-to='1')
      li(data-target='#myCarousel', data-slide-to='2')
      li(data-target='#myCarousel', data-slide-to='3')
    // Wrapper for slides
    .carousel-inner
      .item.active
        div.slider-bg.slider-image-1
        div.slider-text
          .title-white-large-thin MAKE PROFOUND 
            span.highlight-text IP 
            | BUSINESS DECISIONS
            hr.slider-15-hr
      .item
        div.slider-bg.slider-image-3
        div.slider-text
          .title-white-large-thin ​SOLVE YOUR 
            span.highlight-text IP 
            | COMPLEXITY
            hr.slider-34-hr
      .item
        div.slider-bg.slider-image-4.slider-img-size
        div.slider-text
          .title-white-large-thin BE ON TOP OF THE 
            span.highlight-text IP 
            | WORLD
            hr.slider-34-hr
      .item
        div.slider-bg.slider-image-5
        div.slider-text
          .title-white-large-thin APPLIED REPORT FOR YOUR BUSINESS OBJECTIVES
            hr.slider-15-hr                         
section.white-section.text-center 
  .container
    .title-blue-large-thin PATENT SEARCH LABS
    h2.font-grey Dedicated Labs For Your Valuable Project
    hr.labhr
section.aristotle-cover.text-center
  .container
    .title-white-large Aristotle Search Lab
    h1.title.font-blue.title-margin Life Sciences
    hr.faradayhr
    p Biotechnology - Pharma - Bio Medical - Checimal - Food Technology - Medicine - Genetic Enigneering
    //- p.btn.btn-cta.btn-cta-primary(routerLink='/aristotle-lab') Learn More
section.white-fat-bar
section.text-center.faraday-cover
  .container
    .title-white-large Faraday Search Lab
    h1.title.font-blue.title-margin Electronics & Telecom
    hr.faradayhr
    p Electronics - Eletrical - Semiconductor - Fiber Optics - Telecom Software - Security Surveillance - Touch Solutions - Networking
    //- p.btn.btn-cta.btn-cta-primary(routerLink='/faraday-lab') Learn More
section.white-fat-bar
section.james-cover.text-center
  .container
    .title-white-large James Watt Search Lab
    h1.title.font-blue.title-margin Mechanical & Others
    hr.faradayhr
    p Mechanical - Civil - Industrial - Material Science
    p.btn.btn-cta.btn-cta-primary(routerLink='/james-watt-lab') Learn More
//- section.text-center.white-section
//-   .container
//-     h2.title.title-blue-large-thin Our Clients
//-     hr.patenthr       
//- section.grey-section.text-center
//-   .container
//-     h2.title Lorem Ipsum    
section.text-center.white-section
  .container
    h2.title.title-blue-large-thin Why Cognizance IP
    hr.patenthr       
section.cta-section.text-center
  .container
    h2.title.font-blue Patent Databases bring you back 10,000 search results, <br>We bring you back the right one
//- section.text-center.white-section
//-   .container
//-     h2.title.title-blue-large-thin Clients Speak
//-     hr.patenthr       
//- section.cta-section.text-center
//-   .container
//-     h2.title Lorem Ipsum        
section.text-center.white-section
  .container
    h2.title.title-blue-large-thin We Are Social
    hr.patenthr  
    p Let's Socialize   
    .row
      .social-icon-size
        .col-md-2.col-md-offset-2
          a.fa.fa-twitter(href ='https://twitter.com/CognizanceIP', target='_blank') 
          p.font-grey Twitter
        .col-md-2
          a.fa.fa-facebook(href ='https://www.facebook.com/cognizanceip/', target='_blank')
          p.font-grey Facebook
        .col-md-2
          a.fa.fa-linkedin(href ='https://in.linkedin.com/company/cognizance-ip', target='_blank')
          p.font-grey LinkedIn
        .col-md-2
          a.fa.fa-google-plus(href ='https://plus.google.com/100219634039958050227', target='_blank')  
          p.font-grey Google+
section.aqua-section