@import '../../stylesheets/index';
.carousel-inner {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

// Styling for the navbar
#mainNav {
  border-color: fade-out($gray-darker, .95);
  background-color: white;
  @include sans-serif-font;
  @include transition-all;
  .navbar-brand {
    font-weight: 700;
    text-transform: uppercase;
    color: $theme-primary;
    @include sans-serif-font;
  }
  .navbar-toggle {
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    color: $gray-darker;
  }
  @media (min-width: 992px) {
    border-color: fade-out(white, .7);
    background-color: transparent;
    .navbar-brand {
      color: fade-out(white, .3);
    }
    &.navbar-shrink {
      border-color: fade-out($gray-darker, .95);
      background-color: white;
      .navbar-brand {
        font-size: 16px;
        color: $theme-primary;
        &:focus,
        &:hover {
          color: darken($theme-primary, .1);
        }
      }
    }
  }
}

.navbar-default {
  background-color: white;
  border-color: rgba(34, 34, 34, 0.05);
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
}
.navbar-default .navbar-header .navbar-brand {
  color: #1D8F9A;
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}
.navbar-default .navbar-header .navbar-brand:hover,
.navbar-default .navbar-header .navbar-brand:focus {
  color: #1D8F9A;
}
.navbar-default .navbar-header .navbar-toggle {
  font-weight: 700;
  font-size: 12px;
  color: #222222;
  text-transform: uppercase;
}
.navbar-default .nav > li > a,
.navbar-default .nav > li > a:focus {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 13px;
  color: #222222;
}
.navbar-default .nav > li.active > a:hover,
.navbar-default .nav > li.active > a:focus:hover {
  background-color: transparent;
}
@media (min-width: 768px) {
  .navbar-default {
    background-color: transparent;
    border-color: rgba(255, 255, 255, 0.3);
  }
}
html {
  position: relative;
  min-height: 100%;
}
#home-slider{
  .carousel-fade .carousel-inner .item {
    opacity: 0;
    transition-property: opacity;
  }
  .carousel-fade .carousel-inner .active {
    opacity: 1;
  }
  .carousel-fade .carousel-inner .active.left,
  .carousel-fade .carousel-inner .active.right {
    left: 0;
    opacity: 0;
    z-index: 1;
  }
  .carousel-fade .carousel-inner .next.left,
  .carousel-fade .carousel-inner .prev.right {
    opacity: 1;
  }
  .carousel-fade .carousel-control {
    z-index: 2;
  }
  @media all and (transform-3d),
  (-webkit-transform-3d) {
    .carousel-fade .carousel-inner > .item.next,
    .carousel-fade .carousel-inner > .item.active.right {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.prev,
    .carousel-fade .carousel-inner > .item.active.left {
      opacity: 0;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.next.left,
    .carousel-fade .carousel-inner > .item.prev.right,
    .carousel-fade .carousel-inner > .item.active {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }

  .carousel {
    z-index: -99;
  }
  .carousel .item {
    position: fixed;
    width: 100%;
    height: 700px;
  }
  .title {
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    color: #FFF;
  }
}

.cta-section {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('../../../public/img/slider/2.png') no-repeat left top;
  background-size: cover;
  color: #fff;
  padding-top: 130px;
  border: none;
}
.white-section {
  background: #ffffff;
}
.aqua-section {
  background: #4FE3C1;
  max-height: 20px !important;
  height: 20px !important;
  padding: 0 !important;
}

.grey-section{
  // height: 400px !important;
  background: #929292;
}
.cta-section .title {
  margin-top: 0;
  margin-bottom: 40px;
}
.btn-cta {
  font-size: 20px;
}
.cta-section .intro {
  margin-bottom: 15px;
  color: #fff;
}

// underlines
.invalidityhr{
  border-color: #757575;
  border-width: 2px;
  max-width: 500px;
}
.patenthr{
  border-color: #757575;
  border-width: 2px;
  max-width: 250px;
}
.aristotlehr{
  border-color: #757575;
  border-width: 2px;
  max-width: 780px;
  margin-top: -20px;
}

// headings styles
.title-blue-large-thin{
  font-weight: lighter;
  color: #1D8F9A;
  font-size: 45px;
}

.title-blue-large{
  color: #1D8F9A;
  font-size: 45px;
}
.title-white-large{
  color: #fff;
  font-size: 45px;
}
.title-white-large-thin{
  color: #fff;
  font-size: 50px;
  font-weight: lighter;
}
.font-blue{
  color: #1D8F9A;
}
.font-grey{
  color: #868686;
}

// other styles
.title-margin{
  margin-top: 20px !important;
}
.social-icon-size{
  font-size: 60px;
}
.slider-height{
  height: 520px;
}
.slider-text {
  margin-top: -360px;
  text-align: center;
  text-shadow: 2px 2px #000000;
  padding: 0 40px;
}
.slider-text-2 {
  margin-top: -400px !important;
}
.pull-section-up{
  margin-top: -100px;
}
.main-section-padding{
  padding: 62px 0 !important;
}
.slider-bg{
  background-size: cover;
  width: 100%;
  color: #fff;
  padding-top: 520px;
  border: none;
}
.slider-image-1 {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../../../public/img/slider/1.png') no-repeat left top;
}
.slider-image-2 {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../../../public/img/slider/2.png') no-repeat left top;
}
.slider-image-3 {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../../../public/img/slider/3.png') no-repeat left top;
}
.slider-image-4 {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../../../public/img/slider/4.png') no-repeat left top;
}
.slider-image-5 {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../../../public/img/slider/5.png') no-repeat left top;
}
.slider-img-size{
  background-size: 100%;
  // filter: grayscale(100%);
  background-position: center;
}
.carousel-indicators .active {
  background-color: #1D8F9A;
  border: 1px solid #1D8F9A;
}  
.slider-15-hr{
  border-width: 2px;
  max-width: 720px;
}
.slider-34-hr{
  border-width: 2px;
  max-width: 480px;
}
.highlight-text{
  color: #D97634;
}


.col-centered {
  float: none;
  margin: 0 auto;
}

.carousel-control { 
  width: 8%;
  width: 0px;
}
.carousel-control.left,
.carousel-control.right { 
  margin-right: 40px;
  margin-left: 32px; 
  background-image: none;
  opacity: 1;
}
.carousel-control > a > span {
  color: white;
  font-size: 29px !important;
}

.carousel-col { 
  position: relative; 
  min-height: 1px; 
  padding: 5px; 
  float: left;
}

.active > div { display:none; }
.active > div:first-child { display:block; }

/*xs*/
@media (max-width: 767px) {
.carousel-inner .active.left { left: -50%; }
.carousel-inner .active.right { left: 50%; }
.carousel-inner .next        { left:  50%; }
.carousel-inner .prev		     { left: -50%; }
.carousel-col                { width: 50%; }
.active > div:first-child + div { display:block; }
}

/*sm*/
@media (min-width: 768px) and (max-width: 991px) {
.carousel-inner .active.left { left: -50%; }
.carousel-inner .active.right { left: 50%; }
.carousel-inner .next        { left:  50%; }
.carousel-inner .prev		     { left: -50%; }
.carousel-col                { width: 50%; }
.active > div:first-child + div { display:block; }
}

/*md*/
@media (min-width: 992px) and (max-width: 1199px) {
.carousel-inner .active.left { left: -33%; }
.carousel-inner .active.right { left: 33%; }
.carousel-inner .next        { left:  33%; }
.carousel-inner .prev		     { left: -33%; }
.carousel-col                { width: 33%; }
.active > div:first-child + div { display:block; }
.active > div:first-child + div + div { display:block; }
}

/*lg*/
@media (min-width: 1200px) {
.carousel-inner .active.left { left: -25%; }
.carousel-inner .active.right{ left:  25%; }
.carousel-inner .next        { left:  25%; }
.carousel-inner .prev		     { left: -25%; }
.carousel-col                { width: 25%; }
.active > div:first-child + div { display:block; }
.active > div:first-child + div + div { display:block; }
.active > div:first-child + div + div + div { display:block; }
}

.img-responsive{
  width: 280px;
  height: 180px;
}
.logo-container{
  margin-left: 3% !important;
  width: 97%;
}
@media (max-width: 450px) {
  .img-responsive{
    width: 175px;
    height: 110px;
  }
  .logo-container{
    margin-left: 1% !important;
    width: 99%;
  }
}