.labhr{
  border-color: #757575;
  border-width: 2px;
  max-width: 640px;
}
.white-fat-bar {
  background: #ffffff;
  max-height: 110px !important;
  height: 110px !important;
  padding: 0 !important;
}