.labhr{
  border-color: #757575;
  border-width: 2px;
  max-width: 640px;
}
.white-fat-bar {
  background: #ffffff;
  max-height: 110px !important;
  height: 110px !important;
  padding: 0 !important;
}
.aristotle-cover {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('../../../public/img/labs/LifeScience.png') no-repeat left top;
  background-size: cover;
  color: #fff;
  padding-top: 130px;
  border: none;
}
.faraday-cover {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('../../../public/img/labs/Electronics.png') no-repeat left top;
  background-size: cover;
  color: #fff;
  padding-top: 130px;
  border: none;
}
.james-cover {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('../../../public/img/labs/Mechanical.png') no-repeat left top;
  background-size: cover;
  color: #fff;
  padding-top: 130px;
  border: none;
}
.faradayhr {
  border-color: #757575;
  border-width: 2px;
  max-width: 780px;
}