section.white-section.text-center 
  .container
    .title-blue-large-thin PATENT SEARCH LAB
    h2.font-grey Dedicated Lab For Your Valuable Project
    hr.labhr
section.aristotle-cover.text-center
  .container
    .title-white-large Aristotle Search Lab
    h1.title.font-blue.title-margin Life Sciences
    hr.faradayhr
    p Biotechnology - Pharma - Bio Medical - Chemical - Food Technology - Medicine - Genetic Engineering
    p.btn.btn-cta.btn-cta-primary(routerLink='/aristotle-lab') Learn More
section.white-fat-bar
section.text-center.faraday-cover
  .container
    .title-white-large Faraday Search Lab
    h1.title.font-blue.title-margin Electronics & Telecom
    hr.faradayhr
    p Electronics - Eletrical - Semiconductor - Fiber Optics - Telecom Software - Security Surveillance - Touch Solutions - Networking
    p.btn.btn-cta.btn-cta-primary(routerLink='/faraday-lab') Learn More
section.white-fat-bar
section.james-cover.text-center
  .container
    .title-white-large James Watt Search Lab
    h1.title.font-blue.title-margin Mechanical & Others
    hr.faradayhr
    p Mechanical - Civil - Industrial - Material Science
    p.btn.btn-cta.btn-cta-primary(routerLink='/james-watt-lab') Learn More
section.white-fat-bar
